{% extends 'themes/base_visitor.html.twig' %}

{% block block_name %}Menu{% endblock %}

{% block description %}Menu{% endblock %}

{% block main %}
     <section>
          <div class="menuContainer" style="">
            <div class="pinterestImg">
               <img src="https://www.restaurantleconfidentiel.fr/assets/images/Tarts_00098-copy.jpg" alt="">
            </div>
           
            <div class="clear">
            </div>
         </div>
     </section>
{% endblock %}