{% extends 'themes/base_visitor.html.twig' %}

{% block block_name %}Menu{% endblock %}

{% block description %}Menu{% endblock %}

{% block main %}
     <main>
          <h1>Menu, La Carte</h1>
     </main>
{% endblock %}