*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}





p{
    font-weight: 300;
    color: #111;
}


header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0,5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}





.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
  
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
    margin-top: 200px;
    
}

.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    
}
.contenu p:nth-child(2){
    color: #fff;
    font-size: 1,2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #68675f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0,5s;
    margin-left: 10px;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background: #786518;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0,5s;
    margin-left: 10px;
}

.btn1:hover{
  letter-spacing: 4px;
}
.btn2:hover{
    letter-spacing: 4px;
}
