{% extends 'themes/base_visitor.html.twig' %}

{% block block_name %}Evennements{% endblock %}

{% block description %}Evennements{% endblock %}

{% block main %}
     <main>
          <div class="mt-5 container">
             <div class="row">
                 <div class="col-md-6">
                    <h2 class="block-title">Anniversaire</h2>
                    <p> </p>
                    <p>
                      <strong>Pour le menu anniversaire :</strong>
                    </p>
                    <p>- bougie fournie</p>
                    <p>* les entrées et plats varient en fonction de la saison</p>
                    <p> </p>
                    <p>
                       <strong>Les desserts :</strong>
                    </p>
                    <p>- Fraisier pistache </p>
                    <p>- Entremet chocolat</p>
                    <h3> </h3>
                    <h3>
                       <strong class="fs-5">*Carte menu anniversaire à partir de 8 personnes </strong>
                    </h3>
                    <h3>
                       <strong class="fs-5">*Nous n'acceptons pas les gâteaux venant de l'extérieur</strong>
                    </h3>
                   
                 </div>

                 <div style="background-color: black" class="col-md-6">
                     <img src="./images/happy-birthday.png" class="img-fluid p-5" alt="Resonsive image">
                 </div>
             </div>
          </div>
     </main>
{% endblock %}