*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}





p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0,5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reservation{
    padding: 10px 20px;
    background-color: #786518;
    margin-top: -10px;
    text-transform: uppercase;
    
}
.btn-connect{
    padding: 10px 20px;
    background-color: #3f301a;
    margin-top: -10px;
    text-transform: uppercase;
}
a.btn-reservation{
    margin-left: 2px;
}

.btn-reservation:hover{
      background: #d87710;
      transition: ease-out;
}

.btn-connect:hover{
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #786518;
    border-bottom: 2px solid #786518;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/set-table-4120805_1280.jpg");
    background-size: cover;
  
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
    margin-top: 200px;
    
}

.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    
}
.contenu p:nth-child(2){
    color: #fff;
    font-size: 1,2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #68675f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0,5s;
    margin-left: 10px;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background: #786518;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0,5s;
    margin-left: 10px;
}

.btn1:hover{
  letter-spacing: 4px;
}
.btn2:hover{
    letter-spacing: 4px;
}

section{
    padding: 100px;
}
div.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.img{
    float: center;
    margin-left: 80px;
    
}

img{
    height: 300px;
    float: left;
    position: relative;
   
}

div.row div.col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

div.row div.col50 h2{
    margin-bottom: 20px;
}

h2.titre-text{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: uppercase;
    font-style: initial;
    
}


/* stylisation images menu*/
.menu{
    background-color: #e3e3e3;
    padding: 60px 0 40px 0;
}
.content-center{
    width: 1200px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.menu-block-text{
    width: 50%;
    text-align: center;
}
.float_right{
    float: right;
}
.display-table{
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
}
.block-menu-titre{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 0 0 7px 0;
    font-weight: normal;
    margin-top: 0;

}
.block-menu-text{
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0;
    font-weight: normal;
    padding: 0 70px;

}
.btn-menu{
    font-size: 15px;
    width: 253px;
    letter-spacing: 2.8px;
    height: 55px;
    display: inline-block;
    color: #786518;
    border: 2px solid #786518;
    text-decoration: none;
    line-height: 54px;
    text-transform: uppercase;
    margin: 55px 0 0 0;
}
.btn-menu:hover{
    background-color: #786518;
    color: #fff;
}
.menu-block-images{
    float: left;
    width: 50%;
    padding: 0;
}

.home-block3{
    background-color: #fff ;
    position: relative;
    background-size: 1750px auto;
}
.home-block3.content-center{
    z-index: 3;
    position: relative;
}
.home-block3-text{
    text-align: center;
    padding: 250px 0 250px 0;
}




@media screen and (min-width: 0px) and (max-width:767px) {
    .content-center{
        width: 300px;
        padding: 0 10px;
    }
}



header.sticky{
    background-color: #000;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px;
}


