{% extends "themes/base_visitor.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block description %}{% endblock %}

{% block main %}
{# Banniere #}
 <section class="banniere" style="background-image:url(/images/banniere.jpg)" id="banniere">
  <div class="contenu">
       <h2>Que Des Plats Délicieux</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nihil, cumque fugiat delectus eligendi cupiditate, a magni molestiae et itaque, at pariatur illum ad eos omnis corrupti veniam id dicta. </p>
       <a href="#" class="btn1">Voir Notre Menu</a>
       <a href="#" class="btn2">Reserver une table</a>
  </div>

</section>

<section>
     <div class="container text-center">
           <div class="row">
               <div class="mt-5 col-12 col-md-12 col-lg-6">
                  <h2 class="block-title">Restaurant Toque'Or</h2>
                  <p class="block-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque aliquid tempora! Eos expedita tenetur sint quisquam veritatis laboriosam vero quam dignissimos ab doloremque commodi perferendis repudiandae ipsum, officia ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptas dignissimos eaque est, quibusdam ipsa! Adipisci esse odio ullam unde aut nam error incidunt repellat, exercitationem a necessitatibus accusantium tempora? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nam, nisi inventore reiciendis reprehenderit sed expedita rerum nesciunt nostrum dolorum odio vitae deserunt ea voluptate magni blanditiis. Ullam, doloribus eveniet! 
                  </p>
                  <p class="block-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, porro! Ullam officia magni praesentium voluptatum tenetur temporibus natus quod eaque, provident veniam obcaecati fugit nobis ratione facilis eos unde dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corrupti hic nulla dolore excepturi. Minima quibusdam ipsum molestiae temporibus eius nihil ut aspernatur animi illum esse, deleniti odio quae numquam.
                  </p>
                  <p class="block-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi corrupti in nulla deserunt nisi amet quam inventore asperiores eius autem eligendi aut nihil tempore dolore rerum, voluptates a et soluta.</p>
               </div>

               <div class="mt-5 col-12 col-md-12 col-lg-6">
                   <img src="./images/lerestaurant.jpg" class="img-fluid img-thumbnail p-5" alt="Resonsive image">
               </div>
           </div>
     </div>
</section>

<section class="py-5" style="background-color: #f5f5f5">
       <div class="container text-center">
            <div class="row">
                 <div class="col-12 col-md-12 col-lg-6">
                      <img src="./images/imgmenu.png" class="img-fluid" alt="">
                 </div>

                 <div class="col-12 col-md-12 col-lg-6">
                      <h2 class="block-title-menu">MENU</h2>
                      <p class="block-text-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nihil sunt.</p>
                      <a href="#" class="block_generic_button">Voir le menu</a>
                 </div>
            </div>
       </div>
</section>

<section>
       <div class="container text-center">
            <div class="row">
                 <div class="mt-5 col-12 col-md-12 col-lg-6">
                     <h2 class="block-title">À propos</h2>
                     <p class="block-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aspernatur ducimus optio eveniet autem illum. Sequi eos natus voluptatum hic exercitationem, est quod dicta beatae deserunt quaerat aspernatur sed harum.</p>
                     <p class="block-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatem voluptatum quae iste excepturi, accusamus reiciendis obcaecati itaque dolorum, quas dolore eum repellat earum ullam perferendis ipsa nulla, corrupti nobis.</p>
                 </div>

                 <div class="col-12 col-md-12 col-lg-6">
                      <div class="p-5">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5248.903324318295!2d2.3023562119638017!3d48.868665771214026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc36c62670b%3A0xbf23afbccb3b7c8e!2sLe%20Confidentiel!5e0!3m2!1sfr!2sfr!4v1722198835693!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                 </div>
            </div>
       </div>
</section>
{% endblock %}