{% extends "themes/base_visitor.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block description %}{% endblock %}

{% block main %}
{# Banniere #}
    <section class="banniere" style="background-image:url(/images/banniere.jpg)" id="banniere">
  <div class="contenu">
       <h2>Que Des Plats Délicieux</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nihil, cumque fugiat delectus eligendi cupiditate, a magni molestiae et itaque, at pariatur illum ad eos omnis corrupti veniam id dicta. </p>
       <a href="#" class="btn1">Voir Notre Menu</a>
       <a href="#" class="btn2">Reserver une table</a>
  </div>
</section>

{% endblock %}