<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pages/acceuil/acceuil.css">
    <title>Document</title>
</head>

<body>

<header>
   <a href="#" class="logo" > Toque'OR</a>
   <ul class="navbar">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Evennement</a></li>
        <a href="#" class="btn-connect">Connexion</a>
        <a href="#" class="btn-reservation">Reserver</a>
   </ul>
</header>
<section class="banniere" id="banniere">
  <div class="contenu">
       <h2>Que Des Plats Délicieux</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nihil, cumque fugiat delectus eligendi cupiditate, a magni molestiae et itaque, at pariatur illum ad eos omnis corrupti veniam id dicta. </p>
       <a href="#" class="btn1">Voir Notre Menu</a>
       <a href="#" class="btn2">Reserver une table</a>
  </div>
</section>

<section class="resaurant" id="restaurant">
    <div class="row">
         <div class="col50">
             <h2 class="titre-text">Le Restaurant Toque'OR</h2>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus consequatur sint perferendis blanditiis, quas modi architecto. Sit dolor assumenda saepe blanditiis? Reprehenderit corporis quia accusantium nobis est quam totam porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Quo amet laudantium, repellat hic perspiciatis, iusto illo nostrum facere ad asperiores eum aliquid obcaecati debitis expedita sunt esse maiores ipsum impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, soluta inventore, eum rem nostrum animi quas facere illum pariatur magni non dolore id odio hic reiciendis atque numquam obcaecati quasi.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse inventore est dolor, temporibus a consequuntur dolorum tenetur molestiae earum error blanditiis! Officiis repudiandae sit architecto praesentium nulla error ullam nisi.</p>
         </div>
         <div class="col50">
             <div class="img">
                 <img src="images/cafe.jpg" alt="image">
             </div>
         </div>
    </div>
</section>
 
 <div class="menu" id="menu">
    
 <div class="content-center">
       
       <div class="menu-block-images">
            <img class src="images/imgmenu.png" alt="">
            <div class="clear"> </div>
      </div>

      <div class="menu-block-text float_right">
        <div class="display-table">
         <div class="vertical-align menu-block-text-height">
           <h2 class="block-menu-titre">MENU</h2>
           <p class="block-menu-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit!</p>
           <a href="#" class="btn-menu">VOIR LE MENU</a>
         </div>

        </div>
      </div>
      <div class="clear"> </div>
  </div>
    
 </div>
  
  <div class="home-block3" style="background-color: #fff">
      

      <div class="content-center">
         <div class="home-block3-text">
            <div class="display-table">
            <div class="vertical-align">
               <h2 class="block-menu-titre">RÉSERVATION</h2>
               <p class="block-menu-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> 
               </p>
               <a href="#" class="btn-menu">Réserver</a>
               </div>
            </div>
         </div>
         </div>
      </div>
  </div>

 
 <script type="text/javascript">
     window.addEventListener('scroll',function (){
        const header =document.querySelector('header');
        header.classList.toggle("sticky", window.scrollY > 0);
     });
 </script>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-54a22af5-cbd9-4c6f-a5ff-55261e0137ab" data-elfsight-app-lazy></div>
</body>
</html>